<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:label="JavaSkinChanger"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <!-- 起動画面 -->
        <activity android:name=".WelcomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ここを追加！リダイレクトURIをこのActivityで受け取る -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="javaskinchanger" android:host="auth" />
            </intent-filter>
        </activity>

        <!-- 他の画面 -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SkinLibraryActivity" android:exported="false" />

    </application>

</manifest>