name: Android Build (Gradle 8.7)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle 8.7
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.7

      - name: Build Debug APK
        run: gradle clean assembleDebug

      - name: Rename APK
        run: |
          mkdir -p output
          cp app/build/outputs/apk/debug/app-debug.apk output/JSCBuild-${{ github.run_number }}.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: JavaSkinChanger-APK
          path: output/JSCBuild-${{ github.run_number }}.apk